* {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;

    background-color: purple;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main h1 {
    color: white;
    font-size: 32px;

    margin-top: 20px;
}

.calculadora {
    background-color: white;

    min-height: 350px;
    padding: 20px 50px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.add-notas {
    display: flex;
    gap: 8px;

    margin-top: 20px;
}

.notas {
    border: 1px solid black;

    width: 100%;
    height: 60%;

    overflow: scroll;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
}

#calcular-btn {
    align-self: flex-start;
}

.media {
    align-self: self-start;

    display: flex;
    gap: 15px;
}